@charset "utf-8";
.container header {
	background-color: #F5FFC4;
}
.container header nav {
	background-color: #DECAFF;
}
.container #hero {
	background-image: url(images/5.jpg);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	height: 200px;
}
.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(178,154,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(178,154,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(178,154,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(178,154,255,1.00) 100%);
}
.container .banner {
	background-image: url(images/5.jpg);
}
.container #contact {
	background-image: url(images/5.jpg);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	height: 200px;
}
.container .copyright {
	background-image: -webkit-linear-gradient(270deg,rgba(125,228,223,1.00) 0%,rgba(147,91,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(125,228,223,1.00) 0%,rgba(147,91,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(125,228,223,1.00) 0%,rgba(147,91,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(125,228,223,1.00) 0%,rgba(147,91,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
}
